/* .text h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
  color: var(--titles);
  font-weight: 600;
}

.text p {
  color: var(--text-color);
  font-weight: 500;
  font-weight: 1.2em;
}

.features {
  list-style: disc;
  color: var(--text-color);
  font-weight: 400;
  margin-left: 2em;
}

.reviews {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 5px;
  margin-bottom: 1em;
  padding-bottom: 1em;
  border: 1px solid rgb(236, 236, 236);
  border-left: unset
}

.reviews div span {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  color: var(--background-yellow);
  font-weight: 600;
  font-size: 1em;
}

.reviews div h4 {
  font-size: 1.5em;
  color: var(--titles);
  margin-bottom: 10px;
}

.reviews span {
  color: var(--titles);
  font-size: 0.85em;
  font-weight: 500;
  cursor: pointer;
  margin-top: 10px;
} */


.div {
  width: 95%;
  margin: 5% auto;
  border-top: 1px solid rgb(234, 234, 234);
  padding: 1em 0;
}

.text {
  margin-bottom: 2em;
}

.text h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
  color: var(--titles);
  font-weight: 600;
}

.text p {
  color: var(--text-color);
  font-weight: 500;
  font-weight: 1.2em;
}

.features {
  list-style: disc;
  color: var(--text-color);
  font-weight: 400;
  margin-left: 2em;
}

.revRank {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2.5em;
}

.reviews {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 5px;
  margin-bottom: 1em;
  padding-bottom: 1em;
  border: 1px solid rgb(236, 236, 236);
  border-left: unset
}

.reviews div span {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  color: var(--background-yellow);
  font-weight: 600;
  font-size: 1em;
}

.reviews div h4 {
  font-size: 1.5em;
  color: var(--titles);
  margin-bottom: 10px;
}

.reviews span {
  color: var(--titles);
  font-size: 0.85em;
  font-weight: 500;
  cursor: pointer;
  margin-top: 10px;
}


@media only screen and (min-width: 996px) {
  .revRank {
    flex-direction: row;
  }
}