.div {
  width: 95%;
  margin: 5% auto 0;
  border-top: 1px solid rgb(234, 234, 234);
  padding: 1em 0;
}

.text {
  margin-bottom: 2em;
}

.text h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
  color: var(--titles);
  font-weight: 600;
}

.text p {
  color: var(--text-color);
  font-weight: 500;
  font-weight: 1.2em;
}

.features {
  list-style: disc;
  color: var(--text-color);
  font-weight: 400;
  margin-left: 2em;
}
