.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.span {
  text-transform: uppercase;
  color: var(--background-yellow);
  font-size: 0.9em;
  font-weight: 600;
}

.container h2 {
  font-size: 2.5em;
  color: var(--titles);
  padding-bottom: 7px;
  border-bottom: 3px solid var(--background-yellow);
  margin-bottom: 7px;
}

.container p { 
  color: var(--text-color);
  font-size: 1.2em;
  margin-bottom: 1.5em;
}

.carousel {
  width:  90%;
  margin: 1em auto;
}


