.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: var(--text-color);
  font-size: 1.5em;
  font-weight: 400;
  padding: 1em;
  background-color: rgb(0, 0, 0,0.1);
}

.content {
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}

.list {
  max-height: 400px;
  overflow-y: scroll;
}


.total {
  align-self: flex-end;
  font-size: 1.25em;
  color: var(--text-color);
  margin-bottom: 1em;
}

.warn {
  color: var(--text-color);
}

.warn strong {
  cursor: pointer;
  color: var(--titles);
}

.warn strong:hover {
  opacity: 0.7;
}