/* .container {
  width: 100%;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1em;
  width: 100%;
}

.item {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0.8em;
}

.item span {
  width: 100%;
  background-color: rgb(234, 234, 234,0.5);
  padding: 10px;
  color: var(--cart-button);
  font-size: 1em;
  font-weight: 600;
}

.item ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.3em;
  font-size: 0.95em;
  font-weight: 500;
}

.item ul li {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.item ul li label {
  cursor: pointer;
  color: var(--text-color);
}

.item ul li label:hover {
  color: var(--cart-button);
}

.form button {
  padding: 0.85em;
  background-color: var(--text-color);
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 5px;
  transition: 0.3s;
}

.form button:hover,
.form button:active {
  background-color: var(--background-yellow);
} */

.container {
  width: 100%;
  margin: 5% 0;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.item {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 5px;
  cursor: pointer;
  position: relative;
}

.item span {
  width: 100%;
  background-color: rgb(234, 234, 234,0.5);
  padding: 10px;
  color: var(--cart-button);
  font-size: 1em;
  font-weight: 600;
  text-align: center;
}

.item span:hover,
.item span:active {
  color: var(--background-yellow);
}

.form button {
  padding: 0.85em;
  background-color: var(--text-color);
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 5px;
  transition: 0.3s;
}

.form button:hover,
.form button:active {
  background-color: var(--background-yellow);
}

@media only screen and (min-width: 600px) {
  .list {
    gap: 1.5em;
  }

  .form button {
    width: 35%;
  }
}

@media only screen and (min-width: 996px) {
  .list {
    flex-direction: column;
  }

  .item {
    gap: 1em;
  }

  .item span {
    text-align: left;
  }

  .form button {
    width: 100%;
  }


}

